<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Password Reset</title>
  </head>
  <body>
    <div class="email-container">
      <h1>Password has been reset.</h1>
      <p>Hi {{full_name}},</p>
      <p>This is to let you know that your password was just reset.</p>
      <table
        border="0"
        width="100%"
        cellspacing="0"
        cellpadding="0"
        align="left"
        style="border-collapse: collapse"
      >
        <tbody>
          <tr style="border-top: solid 1px #e5e5e5">
            <td height="19" style="line-height: 19px">&nbsp;</td>
          </tr>
          <tr>
            <td
              style="
                font-family: Roboto-Regular, Roboto, -apple-system,
                  BlinkMacSystemFont, Helvetica Neue, Helvetica, Lucida Grande,
                  tahoma, verdana, arial, sans-serif;
                font-size: 11px;
                color: #8a8d91;
                line-height: 16px;
                font-weight: 400;
              "
            >
              <table
                border="0"
                cellspacing="0"
                cellpadding="0"
                style="
                  border-collapse: collapse;
                  color: #8a8d91;
                  text-align: center;
                  font-size: 12px;
                  font-weight: 400;
                  font-family: Roboto-Regular, Roboto, -apple-system,
                    BlinkMacSystemFont, Helvetica Neue, Helvetica, Lucida Grande,
                    tahoma, verdana, arial, sans-serif;
                "
              >
                <tbody>
                  <tr>
                    <td
                      align="center"
                      style="
                        font-size: 12px;
                        font-family: Roboto-Regular, Roboto, -apple-system,
                          BlinkMacSystemFont, Helvetica Neue, Helvetica,
                          Lucida Grande, tahoma, verdana, arial, sans-serif;
                        color: #8a8d91;
                        text-align: center;
                        font-weight: 400;
                        padding-bottom: 6px;
                      "
                    >
                      from
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        font-size: 12px;
                        font-family: Roboto-Regular, Roboto, -apple-system,
                          BlinkMacSystemFont, Helvetica Neue, Helvetica,
                          Lucida Grande, tahoma, verdana, arial, sans-serif;
                        color: #8a8d91;
                        text-align: center;
                        font-weight: 400;
                        padding-top: 6px;
                        padding-bottom: 6px;
                      "
                    >
                      <img
                        width="74"
                        alt="waltondigitechlogo"
                        height="70"
                        src="https://waltondigitech.com/walton-logo.svg"
                        style="border: 0; border-radius: 50%; background: black; padding: 5px;"
                        class="CToWUd"
                        data-bit="iit"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        font-size: 12px;
                        font-family: Roboto-Regular, Roboto, -apple-system,
                          BlinkMacSystemFont, Helvetica Neue, Helvetica,
                          Lucida Grande, tahoma, verdana, arial, sans-serif;
                        color: #8a8d91;
                        text-align: center;
                        font-weight: 400;
                        padding-top: 6px;
                        padding-bottom: 6px;
                      "
                    >
                      © <span class="il">Walton</span> Digitech Industries Ltd.
                      <span class="il">Walton Corporate Office</span>, Plot-1088, Block-I, Sabrina Sobhan Road P.O-Khilkhet, P.S-Vatara, Bashundhara R/A, Dhaka-1229.
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        font-size: 12px;
                        font-family: Roboto-Regular, Roboto, -apple-system,
                          BlinkMacSystemFont, Helvetica Neue, Helvetica,
                          Lucida Grande, tahoma, verdana, arial, sans-serif;
                        color: #8a8d91;
                        text-align: center;
                        font-weight: 400;
                        padding-top: 6px;
                      "
                    >
                      This message was sent to
                      <a
                        style="color: #1b74e4; text-decoration: none"
                        href="mailto:{{email}}"
                        target="_blank"
                        >{{email}}</a
                      >. <br />To help keep your account secure, please don't
                      forward this email.
                      <a
                        style="color: #1b74e4; text-decoration: none"
                        href="https://waltondigitech.com/"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://waltondigitech.com/about-us"
                        >Learn more</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td height="10" style="line-height: 10px">&nbsp;</td>
          </tr>
        </tbody>
      </table>
      <p>If you didn't request this, please contact system administrator <a href="mailto:computer.it21@waltonbd.com">computer.it21@waltonbd.com</a>.</p>
      <p>Thank you!</p>
    </div>
  </body>
</html>
